form {
    margin: 5px;
}

.btn {
    margin: 5px;
}

h3, h6, p {
    padding: 5px;
    margin: 10px;
}

.singlePost {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-top: 50px;
}

.searchBar {
    margin: 20px;
    text-align: center;
    border-radius: 5px;
}

.searchBar input {
    width: 100%;
    border-radius: 5px;
}